body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-dark-bg: #1B1F32;
  --secondary-dark-bg: #1D283C;

  --text-disabled: #8F929B;
  --icon-disabled: #8F929B;

  --text-default-color: #FDFDFD;
  --title-heading-color: #FFFFFF;
  --text-warning: #E8BA35;
}